spring:
  datasource:
    # MODE=MySQL 설정이 있으면 LAST_INSERT_ID()는 H2가 자동으로 제공함
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: test_secret_test_secret_test_secret_test_secret_test_secret
  access-token-expiration: 3600000
  refresh-token-expiration: 3600000

notification:
  batchSize: 250
